

trigger:
- main

pool: Default
  

steps:
- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'Ejemplo1'
    organization: 'bpbreinerpacheco0621'
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: 'bpbreinerpacheco0621_Ejemplo'
    cliProjectName: 'Ejemplo'
    cliSources: '.'
- task: SonarCloudAnalyze@1
- task: reportgenerator@5
  inputs:
    reports: 'coverage.xml'
    targetdir: 'coveragereport'
    sourcedirs: 'C:\Users\breinerpacheco\agent\_work\_tasks\SonarCloudAnalyze_ce096e50-6155-4de8-8800-4221aaeed4a1\1.32.0\sonar-scanner\conf\coverage.xml'
- task: SonarCloudPublish@1
  inputs:
    pollingTimeoutSec: '300'